<%= form_for(confidant) do |f| %>
  <% if confidant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(confidant.errors.count, "error") %> prohibited this confidant from being saved:</h2>

      <ul>
      <% confidant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arcana %>
    <%= f.text_field :arcana %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
