<p id="notice"><%= notice %></p>

<h1>Social Stats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank2</th>
      <th>Rank3</th>
      <th>Rank4</th>
      <th>Rank5</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_stats.each do |social_stat| %>
      <tr>
        <td><%= social_stat.name %></td>
        <td><%= social_stat.rank2 %></td>
        <td><%= social_stat.rank3 %></td>
        <td><%= social_stat.rank4 %></td>
        <td><%= social_stat.rank5 %></td>
        <td><%= social_stat.notes %></td>
        <td><%= link_to 'Show', social_stat %></td>
        <td><%= link_to 'Edit', edit_social_stat_path(social_stat) %></td>
        <td><%= link_to 'Destroy', social_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social Stat', new_social_stat_path %>
