<section id="cd-timeline">
<% @calendar_events.each do |calendar_event| %>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <%= image_tag calendar_event.weather.to_s + ".png" unless calendar_event.weather.nil? %>
        </div>

        <div class="cd-timeline-content">
            <h2>Weather: <%= calendar_event.weather_to_s %></h2>

            <p><%= calendar_event.events %></p>
            <p>Requirements: <%= calendar_event.event_requirements %></p>
            <p><%= calendar_event.notes %></p>
            <p>
                <table class="confidant-availability">
                    <tr>
                        <th>Confidant</th>
                        <th>Location</th>
                        <th>Notes</th>
                    </tr>
                    <% calendar_event.confidant_availability_events.each do |confidant_event| %>
                    <tr>
                        <td><%= confidant_event.confidant.arcana %> / <%= confidant_event.confidant.name %></td>
                        <td><%= confidant_event.location %></td>
                        <td><%= confidant_event.notes %>
                    </tr>
                    <% end %>
                </table>
            </p>

            <%= link_to 'Show', calendar_event, class: 'cd-read-more' %>
            <span class="cd-date"><%= calendar_event.date %>, <%= calendar_event.time_slot %></span>
        </div>
    </div>
<% end %>
</section>
